
*{
	margin: 0;
	padding: 0;
}

/*section */
.calendar{
	font-family: 'Inter';
	font-style: normal;
}

.calendar-wrapper{
	height: 100vh;
	display: flex;
	background: #EDECFB;
	justify-content: center;
}

/*section */

/*content */

.calendar-wrapper-form{
padding-left: 101px;
display: flex;
flex-direction: column;
max-height: 100%;
max-width: 100%;
flex: 1 0 auto;
}

/*title */
.calendar-wrapper-form-title{
	display: flex;
	margin-top: 225px;
	max-width: 634px;
	max-height: 142px;

}
.calendar-title{
font-weight: 600;
	font-size: 75px;
	line-height: 95%;
	
	letter-spacing: 5px;

	color: #353535;
}

/*title */

/*text */

.calendar-wrapper-form-text{
	margin-top: 30px;
	max-width: 604px;
	max-height: 58px;
	font-weight: 500;
	font-size: 24px;
	line-height: 120%;
	display: flex;
	color: #646464;
}

/*text */


/*list*/
ul{
list-style: none;
}
.calendar-wrapper-form-ul{
	padding-top: 75px;
	max-height: 312px;
	max-width: 500px;

}
.calendar-wrapper-form-ul-item{
display: flex;
flex-direction: column;
padding-bottom: 60px;
max-width: 500px;
max-height: 351px;
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #353535;

}
/*list-item-1*/

.calendar-wrapper-form-ul-item-1{
display: flex;
padding-bottom: 60px;
align-items: center;

}
.calendar-wrapper-form-ul-item-1:before{
content: url('../img/calendar/Group 39857.svg');
height: 50px;
width: 50px;
padding-right: 20px;
}
/*list-item-1*/


/*list-item-2*/
.calendar-wrapper-form-ul-item-2{
display: flex;
padding-bottom: 60px;
align-items: center;


}
.calendar-wrapper-form-ul-item-2:before{
content: url('../img/calendar/Group 39856.svg');
height: 50px;
width: 50px;
padding-right: 20px;
}
/*list-item-2*/

/*list-item-3*/
.calendar-wrapper-form-ul-item-3{
display: flex;
padding-bottom: 60px;
align-items: center;


}
.calendar-wrapper-form-ul-item-3:before{
content: url('../img/calendar/Group 39855.svg');
height: 50px;
width: 50px;
padding-right: 20px;
}

/*list-item-3*/

/*list*/

/*content */

/*img*/
.calendar-wrapper-img{
margin-right: 20px;
margin-top: 78px;
margin-left: 90px;
max-height: 830px;
max-width: 1022px;
display: flex;

}
.calendar-img{
display: flex;
max-height: 100%;
max-width: 100%;
}
/*img*/

/*contacts*/

a{
	text-decoration	: none;
}
.calendar-wrapper-contacts{
	display: flex;
	flex-shrink: 0;
	justify-content: flex-end;
	max-width: 100%;
	flex-direction: column;
	margin-left: 	350px;
	margin-top: 150px;
	max-width: 191px;
	max-height: 50px;
}
.calendar-wrapper-email{
	max-width: 130px;
	max-height: 23px;
	display: flex;

}

.email{
	font-weight: 400;
	display: flex;
	font-size: 18px;
	line-height: 130%;
	color: #353535;
}
.calendar-wrapper-telephon{
	display: flex;
	max-width: 301px;
	max-height: 50px;
}
.phone{
	display: flex;
		font-weight: 400;
		font-size: 18px;
		line-height: 130%;
		color: #353535;
}
/*adaptiv*/
@media(max-width: 576px){
	.calendar-wrapper-form{
		padding-left: 40px;
	}

}
@media(max-width: 768px){
.calendar-title{
		font-size: 30px;
}
.calendar-wrapper-form-text{
	font-size: 12px;
}
.calendar-wrapper-form-ul-item{
	font-size: 12px;
}
.email{
	font-size: 12px;
}
.phone{
	font-size: 12px;
}
.calendar-wrapper-img{
	margin-top: 150px;
}

}
@media(max-width: 992px){
.calendar-wrapper{
flex-direction: column;
justify-content: normal;
height: auto;

}
.calendar-wrapper-form-title{
	margin-top: 150px;
}
.calendar-wrapper-form-ul{
	margin-bottom: 50px;
}
.calendar-wrapper-form{
	max-width: 100%;	
	order: -1;
	align-content: center;}
.calendar-wrapper-img{
	margin-top: 0px;
}
.calendar-wrapper-contacts{
		margin-top: 20px;
		margin-left: 0;
	}
}
@media(max-width: 1280px){
	
}
@media(max-height: 1000px){
	.calendar-wrapper-contacts{
		margin-top: 40px;
	}
}