
*{
margin: 0;
padding: 0;
}

/*section */
.catalog{
	font-family: 'Inter';
	font-style: normal;
}
.catalog-wrapper{
	height: 100vh;
	display: flex;
	background: #ECEBFA;
	justify-content: center;

}
/*section */

/*content */

.catalog-wrapper-form{
	display: flex;
	flex-direction: column;
	max-height: 100%;
	max-width: 100%;
	margin-left: 66px;
}

/*title */
.catalog-wrapper-form-title{
display: flex;
margin-top: 225px;
max-width: 354px;
max-height: 142px;

}
.catalog-title{
font-weight: 600;
font-size: 75px;
line-height: 95%;
letter-spacing: 5px;
color: #353535;
}

/*title */

/*text */

.catalog-wrapper-form-text{
margin-top: 30px;
max-width: 604px;
max-height: 58px;
font-weight: 500;
font-size: 24px;
line-height: 120%;
color: #646464;
}

/*text */


/*list*/
ul{
list-style: none;
}
.catalog-wrapper-form-ul{
display: flex;
flex-direction: column;
margin-top: 75px;
max-height: 912px;
max-width: 500px;

}
.catalog-wrapper-form-ul-item{
display: flex;
flex-direction: column;
padding-bottom: 60px;
max-width: 500px;
max-height: 251px;
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #353535;

}
/*list-item-1*/

.catalog-wrapper-form-ul-item-1{
display: flex;
padding-bottom: 60px;
align-items: center;

}
.catalog-wrapper-form-ul-item-1:before{
content: url('../img/catalog/Group 39867.svg');
height: 50px;
width: 50px;
padding-right: 20px;
}
/*list-item-1*/


/*list-item-2*/
.catalog-wrapper-form-ul-item-2{
display: flex;
padding-bottom: 60px;
align-items: center;


}
.catalog-wrapper-form-ul-item-2:before{
content: url('../img/catalog/Group 39869.svg');
height: 50px;
width: 50px;
padding-right: 20px;
}
/*list-item-2*/

/*list-item-3*/
.catalog-wrapper-form-ul-item-3{
display: flex;
padding-bottom: 60px;
align-items: center;


}
.catalog-wrapper-form-ul-item-3:before{
content: url('../img/catalog/Group 39868.svg');
height: 50px;
width: 50px;
padding-right: 20px;
}

/*list-item-3*/

/*list*/

/*button*/
.catalog-wrapper-form-button{
	max-width: 219px;
	max-height: 59px;
	margin-left: 22px;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.catalog-form-button{
	padding: 19px 62px;
	gap: 10px;
	background: #C2C1EF;
	border-radius: 5px;
	border-style: none;	
	font-weight: 600;
	font-size: 17px;
	line-height: 21px;
	color: #353535;
	text-align: center;
	cursor: pointer;
	}
.catalog-form-button:hover{
	background:#9a9cee;
}
/*button*/

/*content */

/*img*/
.catalog-wrapper-img-all{
	display: 	flex;
	
	max-width: 1015px;
	max-height: 905px;
}
.catalog-wrapper-img{

	display: flex;
	max-width: 1015px;
	max-height: 905px;
	margin-top: 78px;
	margin-left: 109px;

}
.catalog-img{
	display: flex;
max-height: 100%;
max-width: 100%;
}

.catalog-img-arrow{
	position: absolute;
	left: 59.5%;
	right: 36.87%;
	top: 75.52%;
	bottom: 13.08%;
	
}
/*img*/

/*ellips*/
.Ellipse-1{
	position: absolute;
width: 36px;
height: 36px;
left: 1200px;
top: 144px;
border-radius: 100%;
background: #C2C1EF;
}
.Ellipse-2{
	position: absolute;
width: 46px;
height: 46px;
left: 1400px;
top: 800px;
border-radius: 100%;
background: #4B7DBE;
}
/*ellips*/

/*adaptiv*/

@media(max-width: 768px){
.catalog-title{
		font-size: 30px;
}
.catalog-wrapper-form-text{
	font-size: 12px;
}
.catalog-wrapper-form-ul-item{
	font-size: 12px;
}
.catalog-wrapper-img{
	margin-top: 150px;
	margin-bottom: 154px;
}

}
@media(max-width: 992px){
.catalog-wrapper{
flex-direction: column;
justify-content: normal;
height: auto;
}
.catalog-wrapper-form-title{
	margin-top: 150px;
}
.catalog-wrapper-form-text{
		max-width: 	350px;
	}
.catalog-wrapper-form-ul{
	margin-bottom: 50px;
}
.catalog-wrapper-form{
	max-width: 100%;	
	order: -1;
	align-items: 	center;
}
.catalog-wrapper-img{
	margin-top: 80px;
}
}
@media(max-width: 1500px){
	.catalog-arrow{
		display: none;
	}
	.Ellipse-2{
		display: none;
	}
	.Ellipse-1{
		display: none;
	}
}
@media(max-height:1000px){
	.catalog-img-arrow{
	left: 59%;
	top: 84.52%;
}
}

