*{
	margin: 0;
	padding: 0;
}
/*section*/
.contacts{
	font-family: 'Inter';
	font-style: normal;
}
.contacts-wrapper{
	height: 100vh;
	max-width: 1920px;
	background: #EDECFB;
	display: flex;
	flex-direction: column;
}
/*section*/

/*top-text*/
/*top-text-wrapper*/
.contacts-wrapper-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: 	center;
	max-height: 191px;
	max-width: 718px;
	margin-top: 65px;
	margin-left: 601px;
}
/*top-text-wrapper*/

/*top-text-wrapper-title*/
.contacts-wrapper-title{
	max-width: 718px;
	max-height: 50px;
}
/*top-text-wrapper-title*/

/*top-text-title*/
.contacts-title{
	font-weight: 600;
	font-size: 45px;
	line-height: 108%;
	letter-spacing: 3px;
	color: #353535;
}
/*top-text-text*/
.contacts-wrapper-text{
	margin-top: 20px;
	max-width: 545px;
	max-height: 52px;
	font-weight: 400;
	font-size: 24px;
	line-height: 108%;
	text-align: center;
	letter-spacing: 2px;
	color: #7C7C7C;
}
/*top-text-text*/

/*content*/
.contacts-wrapper-content{
	display: flex;
	justify-content: space-evenly;
	flex: 1 0 auto;
}
/*content-wrapper-img*/
.contacts-wrapper-img{
	display: flex;
	max-width: 953px;
	max-height: 786px;
	padding-left: 135px;
	flex-shrink: 1;
}
/*content-wrapper-img*/

/*content-img*/
.contacts-img{
	max-width: 100%;
	max-height: 100%;
}
/*content-img*/

/*wrapper-form*/
.contacts-wrapper-form{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-left: 152px;
	margin-top: 153px;
	max-width: 480px;
	max-height: 501px;
	background: #FFFFFF;
	box-shadow: 0px 0px 15px 5px rgba(99, 99, 99, 0.25);
	border-radius: 20px;

}
/*wrapper-form-title*/
.contacts-wrapper-form-title{
	display: flex;
	flex-direction: column;
	max-width: 253px;
	max-height: 27px;
	margin-top: 60px;
}
/*wrapper-form-title*/
/*form-subtitle*/
.contacts-subtitle{
	font-weight: 500;
	font-size: 28px;
	line-height: 34px;
	align-items: center;
	color: #353535;
}
/*form-subtitle*/
/*wrapper-form-text*/
.contacts-wrapper-form-text{
	max-width: 385px;
	max-height: 43px;
	padding-top: 20px;
	font-weight: 300;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	color: #353535;
}
/*wrapper-form-text*/
.contacts-wrapper-input{
	display: flex;
	flex-direction: column;
	max-height: 280px;
	max-width: 400px;
	 overflow: hidden;

}
/*wrapper-form-text*/

/*wrapper-form-input-name*/
.contacts-wrapper-input-name{
	display: flex;
	flex: 1;
	max-width: 400px;
	 overflow: hidden;
	max-height: 50px;
	margin-top: 40px;
}
/*wrapper-form-input-name*/

/*form-input-name*/
.contacts-input-name{
	display: flex;
	width: 100%;
	max-width: 400px;
	max-height: 50px;
	padding :15px 0 16px 22px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.05em;
	opacity: 0.5;
	background: #F4F4F4;
}

.contacts-input-name::placeholder{
color: #353535;
}
.contacts-input-name:hover{
	background: #c3c3c3;
}
/*wrapper-form-input-phone*/
.contacts-wrapper-input-phone{
	display: flex;
	flex: 1;
	max-width: 400px;
	max-height: 50px;
	margin-top: 15px;
}
.contacts-input-phone{
	width: 100%;
	max-width: 400px;
	max-height: 50px;
	padding :15px 0 16px 22px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.05em;
	opacity: 0.5;
	background: #F4F4F4;
}
.contacts-input-phone::placeholder{
color: #353535;
}
.contacts-input-phone:hover{
	background: #c3c3c3;
}
/*wrapper-form-input-phone*/

/*wrapper-form-input-email*/
.contacts-wrapper-input-email{
	display: flex;
	flex: 1;
	max-width: 400px;
	max-height: 50px;
	margin-top: 15px;
}
.contacts-input-email{
	width: 100%;
	max-width: 400px;
	max-height: 50px;
	padding :15px 0 16px 22px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.05em;
	opacity: 0.5;
	background: #F4F4F4;
}
.contacts-input-email::placeholder{
color: #353535;
}
.contacts-input-email:hover{
	background: #c3c3c3;
}
/*wrapper-form-input-email*/

/*button*/
.contacts-button{
	display: flex;
	margin-top: 20px;
	align-items: center;
	justify-content: center;
	max-width: 236px;
	max-height: 50px;
	background: #C2C1EF;
	border-radius: 5px;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	display: flex;
	align-items: center;
	border: none;
	color: #353535;
	margin-left: 90px;
	padding: 14px 66px;
}
.contacts-button:hover{
		background:#9a9cee;
}
/*button*/

/*footer*/
.contacts-wrapper-subtext{
	max-width: 354px;
	max-height: 50px;
	padding-top: 6px;


	font-weight: 300;
	font-size: 12px;
	line-height: 15px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #8D8D8D;
}
.footer-wrapper{
	display: flex;
	max-width: 100%;
	max-height: 146px;
	background: #4B7DBE;
	flex-shrink: 0;
	justify-content: space-between;
}
.contacts-wrapper-logo{
	padding: 49px 0 49px 200px;
	max-width: 206px;
	max-height: 48px;
}
.contacts-wrapper-contacts{
	padding: 40px 198px 83px;
	max-width: 220px;
	max-height: 23px;
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	color: #353535;
}
/*footer*/

/*adaptiv*/

@media(max-width: 576px){
	.contacts-wrapper-contacts {
		font-size: 12px;
	}
	.contacts-wrapper-content {
		margin-top: 30px;
	}
	.contacts-wrapper-form-text{
		padding-left: 47px;
	}
	.contacts-input-name{
		width: 90%;
	}
	.contacts-input-phone{
		width: 90%;
	}
	.contacts-input-email{
		width: 90%;
	}
	.contacts-wrapper-img {
		padding-top: 100px;
	}
	.contacts-button{
		margin-left: 20px;
	}
	.contacts-wrapper-subtext {
		font-size: 	8px;
	}

}
@media(max-width: 768px){
.contacts-title{
		font-size: 25px !important;
}
.contacts-wrapper-text{
	font-size: 12px;
}
.contacts-wrapper-form{
	margin-left: 0 !important;
}

}
@media(max-width: 992px){
.contacts-wrapper-content{
flex-direction: column;

}
.contacts-wrapper{
height: auto;
}
.contacts-wrapper-info{
	margin-left: 60px !important;
}
.contacts-wrapper-form{
	align-items: center;
	order: -1;
	padding-left: 0;
	margin-left: 200px;
}
.contacts-wrapper-logo {
	padding-left: 0px;
}

.contacts-wrapper-contacts {
	padding-right: 0;
	padding-left: 10px;
}

}
@media(max-width: 1280px){
	.contacts-title{
	font-size: 30px;
}
.contacts-wrapper-text{
	font-size: 18px;
}
	
}
@media(max-width: 1500px){
.contacts-wrapper-img{
	padding-left: 0px;
}
.contacts-wrapper-info{
	margin-left: 400px;
}

}
@media(max-height: 1000px){
	.contacts-wrapper-img{
	display: flex;
	max-width: 670px;
	max-height: 700px;
}
.contacts-wrapper-form{
	margin-top: 20px;
}
}