*{
	padding: 0;
	margin: 0;
}
/*section*/
.reviews{
	font-family: 'Inter';
	font-style: normal;
}
.reviews-wrapper{
	background: #E1DFEC;
	height: 100vh;
	display: flex;
	
}
/*section*/


/*img*/
.reviews-wrapper-comment{

	display: flex;
	max-width: 100%;
	max-height: 100%;
	margin-top: 225px;

}
.reviews-img{

	max-height: 100%;
	max-width: 100%;
}
/*img*/

/*slider*/


.slider{
    max-width: 100%;
    max-height: 100%;
    margin-left: 200px;
    display: flex;
   flex-direction: column;
 	align-items: center;

}



.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider-dots {
  text-align: center;
 	margin-top: 55px;
}
.slider-dots_item{
    cursor: pointer;
    height: 11px;
    width: 11px;
    margin: 0 2px;
    background-color:  #999FAE;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
    background-color: #4B7DBE;
}


.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.item-title{
	display: flex;
	text-align: center;
	justify-content: center;
	max-width: 410px;
	max-height: 210px;
	margin-top: 356px;
	margin-right: 20px;
	
}
.reviews-title{
font-weight: 600;
	font-size: 50px;
	letter-spacing: 2px;
	color: #353535;
	padding-left: 42px;
}
.item-text{
max-width: 467px;
max-height: 154px;
display: flex;
padding-top: 35px;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;

color: #353535;
}
.item-img{
	display: flex;
	max-width: 55px;
	max-height: 55px;
	margin-top: 15px;
	margin-left: 206px;
}
.item-name{
max-width: 136px;
max-height: 22px;
margin-left: 165px;
margin-top: 5px;
font-weight: 500;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #353535;
}
.item-signature{
max-width: 237px;
max-height: 18px;
margin-left: 117px;
margin-top: 5px;
font-weight: 500;
font-size: 15px;
line-height: 18px;
text-align: center;
color: #353535;
}
.item-name-2{
	max-width: 137px;
	max-height: 22px;
margin-left: 165px;
font-weight: 500;
font-size: 18px;
line-height: 22px;


color: #353535;
}
.item-signature-2{
	max-width: 256px;
	max-height: 18px;
	margin-left: 117px;
	margin-top: 5px;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: #353535;
}

/*slider*/

/*ellipse*/
.reviews-ellips-1{
	position: absolute;
	width: 67px;
	height: 67px;
	left: 1395px;
	top: 130px;
	border-radius: 100%;
	background: #C2C1EF;
	}
.reviews-ellips-2{
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1731px;
	top: 877px;
	border-radius: 100%;
	background: #4B7DBE;
}

/*ellipse*/

/*adaptiv*/
@media(max-width: 420px){
	.reviews-wrapper-comment{
		margin-top: 180px;
	}
	.item-signature{
margin-left: 30px;
	}
	.item-img{
margin-left: 120px;
	}
.item-name{
	margin-left: 80px;
}
	}
@media(max-width: 576px){
	
}
@media(max-width: 768px){
	.slider{
		margin-left: 0px;
	}
.reviews-title{
		font-size: 28px;
}
.item-text{
	max-height: 454px;
	font-size: 12px;
	padding-top: 60px;
}
.item-name{
	font-size: 12px;
}
.item-signature{
	font-size: 10px;
}

}
@media(max-width: 992px){
	.reviews-ellips-1{
		display: none;
	}
	.reviews-wrapper{
	flex-direction: column;
	justify-content: normal;
	height: auto;
}
.slider{
	order: -1;
}
.item-title{
	margin-top: 100px;
}
}
@media(max-width:1500px){
.reviews-ellips-1{
	left: 900px !important	;
	}
	}
@media(max-width:1500px){
.reviews-ellips-1{
	left: 1100px;
	}
	.reviews-ellips-2{
		display: none;
	}

}
@media(max-width:1800px){
	.reviews-ellips-2{
		left: 1450px;
	}
}

