*{
	margin: 0;
	padding: 0;
}
/*section*/
.tabs{
	font-family: 'Inter';
	font-style: normal;
	display: 	flex;
	
}
.tabs-wrapper{
	background:  #E5E3F1;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
/*section*/

/*text-top*/
.form{
	margin: 175px 0 0 200px;
	max-width: 675px;
	max-height: 210px;
}
/*title*/
.tabs-wrapper-title{
	max-width: 675px;
	max-height: 210px;
}
.title-tabs{
	font-weight: 700;
	font-size: 55px;
	line-height: 67px;
	color: #353535;
}
/*title*/

/*text*/
.tabs-wrapper-text{
max-width: 566px;
max-height: 46px;
padding-top: 30px;
font-weight: 400;
font-size: 18px;
line-height: 130%;
color: #282828;
}

/*text*/

/*tabs*/

/*button*/
/*button-student*/
#student{
	width: 358.9px;
	height: 79.76px;
	box-sizing: border-box;
	background: #FFFFFF;
	border-radius: 10px;
	cursor: pointer;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #353535;
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
}
#student:hover{
	border: 3px solid #4B7DBE;
	transform: 1s;
	box-shadow: 5px 3px 3px #4B7DBE;
}
#student::before{
	content: url('../img/tabs/student/Group 39804.svg');
	margin-right: 20px;
	margin-left: 20px;
}
/*button-student*/

/*button-parents*/
#parents{
	width: 358.9px;
	height: 79.76px;
	background: #FFFFFF;
	border-radius: 14px;
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #353535;
}
#parents:hover{
	border: 3px solid #FFC204;
	box-shadow: 5px 3px 3px #FFC204;
}
#parents::before{
	content: url('../img/tabs/parents/Group 39832.svg');
	margin-right: 20px;
	margin-left: 20px;
}
/*button-parents*/

/*button-teacher*/
#teacher{
	width: 358.9px;
	height: 79.76px;
	background: #FFFFFF;
	border-radius: 14px;
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-align: center;
}
#teacher:hover{
border: 3px solid #DA5AFF;
box-shadow: 5px 3px 3px  #DA5AFF;
}
#teacher:before{
	content: url('../img/tabs/teacher/Group 39833.svg');
	margin-right: 20px;
	margin-left: 20px;
}
/*button-teacher*/

/*tabs*/
.tabs__nav{
	float: left;
	margin-left: 200px;
	margin-top: 40px;
}
.student_1{
	padding-bottom: 48px;
	max-width: 	300px;
	max-height: 180px;
}
.parents_1{
	padding-bottom: 40px;
}
  .tabs__pane {
    display: none;
  }

  .tabs__pane_show {
    display: block;
  }
  .tabs__content{
  	float: right;

  }
  /*tabs*/

  /*tabs-content*/

    /*tabs-content-student*/
  .wrapper-img-student{
  	display: flex;
  	max-height: 1115px;
  	max-width: 890px;
  	margin-left: 	158px;
  
  }
  .img-student{
  	max-height: 100%;
  	max-width: 100%;
  }
  /*tabs-content-student*/

  	/*tabs-content-parents*/
  	.wrapper-img-parents{
  	display: flex;
  	max-height: 1115px;
  	max-width: 750px;
  	margin-left: 	158px;
  	}
  	.img-parents{
  	max-height: 100%;
  	max-width: 100%;
  	}
  	/*tabs-content-parents*/

  	/*tabs-content-teacher*/
  	.wrapper-img-teacher{
  	display: flex;
  	max-height: 1115px;
  	max-width: 700px;
  	margin-left: 	158px;
  	}
  	.img-teacher{
  	max-height: 100%;
  	max-width: 100%;
  	}
  /*tabs-content*/

  /*adaptiv */
@media(max-width: 460px){
		#student{
			width: 280px;
			font-size: 15px;
		}
		#parents{
			width: 280px;
			font-size: 15px;
		}
		#teacher{
			width: 280px;
			font-size: 15px;
		}
		.title-tabs	{
			font-size: 	30px !important	;
			line-height: 40px;
		}
		.tabs__nav{
		margin-top: 100px;
	}
}
@media(max-width: 576px){
	.tabs-nav{
		padding-left: 40px;
	}
}
@media(max-width: 768px){
.title-tabs{
		font-size: 40px;
}
.form{
	margin-left: 40px;
}
.tabs__nav{
margin-left: 40px;
}
.wrapper-img-student{
	margin-left: 	0;
}
.wrapper-img-parents{
	margin-left: 	0;
}
.wrapper-img-teacher{
	margin-left: 	0;
}
}
@media(max-width: 992px){
.tabs{
flex-direction: column;
}
.tabs-wrapper{
	height: auto;
}
.tabs__pane {
	margin-top: 100px;
}
.tabs__content	{
	max-width: 	100%;
	max-height: 100%;
}
}
@media(max-height:1000px){
	.wrapper-img-student{
		max-width: 700px;
	}
	.wrapper-img-parents{
	max-width: 630px;
	}
	.wrapper-img-teacher{
	max-width: 580px;
	}
}
/*adaptiv */
  
 