*{
margin: 0;
padding: 0;
}
/*section */
.virtual{
font-family: 'Inter';
font-style: normal;
height: 100vh;
}

.virtual-wrapper{
	height: 100vh;
	display: flex;
	justify-content: center;
	background: #E1DFEC;
}
/*section */

/*content */
.virtual-form{
padding-left: 200px;
display: flex;
flex-direction: column;
max-width: 620px;
max-height: 800px;
}
/*title */
.virtual-title{
display: flex;
max-width: 619px;
max-height: 100%;
margin-top: 225px;


}
.title{
font-size: 75px;
font-weight: 600;
line-height: 95%;
letter-spacing: 5px;
color: #353535;
}
/*title */

/*text */
.virtual-text{
margin-top: 30px;
max-width: 604px;
max-height: 106px;
font-weight: 500;
font-size: 24px;
line-height: 120%;
display: flex;

color: #646464;
}

/*text */

/*list*/
ul{
list-style: none;
}
.virtual-ul{
margin-top: 70px;
display: flex;
flex-direction: column;
max-height: 912px;
max-width: 500px;

}
.virtual-ul-item{
display: flex;
flex-direction: column;
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #353535;
max-width: 426px;
max-height: 283px;
}
/*list-item-1*/
.virtual-ul-item-1{
display: flex;
padding-bottom: 60px;
align-items: center;

}
.virtual-ul-item-1:before{
content: url('../img/virtual/Group 39851.svg');
height: 50px;
width: 50px;
padding-right: 20px;
}
/*list-item-1*/


/*list-item-2*/
.virtual-ul-item-2{
display: flex;
padding-bottom: 60px;
align-items: center;


}
.virtual-ul-item-2:before{
content: url('../img/virtual/Group 39853.svg');
height: 50px;
width: 50px;
padding-right: 20px;
}
/*list-item-2*/

/*list-item-3*/
.virtual-ul-item-3{
display: flex;
padding-bottom: 60px;
align-items: center;


}
.virtual-ul-item-3:before{
content: url('../img/virtual/Group 39852.svg');
height: 50px;
width: 50px;
padding-right: 20px;
}

/*list-item-3*/


/*list*/


/*content */

/*img*/
.virtual-wrapper-img{
padding-top: 189px;
max-height: 100%;
max-width: 100%;


}
.virtual-img{
max-width: 100%;
max-height: 100%;
display: flex;
}

/*img*/

/*adaptiv */

@media(max-width: 576px){
	.virtual-form{
		padding-left: 60px;
	}
}
@media(max-width: 768px){
.title{
		font-size: 30px;
}
.virtual-text{
	font-size: 12px;
}
.virtual-ul-item{
	font-size: 12px;
}

}
@media(max-width: 992px){
.virtual-wrapper{
flex-direction: column;
height: auto;

}

.virtual-wrapper-img{
	padding-top: 80px;
}
.virtual-form{
	max-width: 100%;
	

}
}

@media(max-width: 1280px){
	
	
.virtual-wrapper{
	justify-content: normal;
}
	
	
}

/*adaptiv */


